.logo1 {
    width: 130%;
    height: 130%;
    display: flex;
}

.linksesion{
color: grey
}

#jk{
    width: 110px;
    height: 110px;
}

#scaner{
    width: 110px;
    height: 110px;
}

#j1{
    width: 110px;
    height: 110px;
    
}


.jk {
    margin: 15px;
}

.scaner1 {
    margin: 15px;
}
.j1{
    margin: 15px;
}

footer {
      text-align: center;
    color:whitesmoke
}


.correo {
    color:whitesmoke

}

.finalI{
font-size: x-small;

}